.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 1rem 1rem 10rem;
  background-color: var(--primary-color);
  color: var(--secondary-text);
  font-size: 20px;
  font-weight: 600;
}