<section class="contact-section">
  <div
    class="social-section"
    [ngStyle]="{
      'background-image': 'url(' + backgroundImageFollow + ')',
      'background-repeat': 'repeat',
      'background-position': 'center center'
    }"
  >
    <h2 class="social-title">{{ socialTitle }}</h2>
    <div class="social-icons">
      <a
        [href]="facebookUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="social-link facebook"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
          class="social-icon"
        >
          <path
            fill="currentColor"
            d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
          />
        </svg>
      </a>
      <a
        [href]="zaloUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="social-link phone"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="social-icon"
        >
          <path
            fill="currentColor"
            d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
          />
        </svg>
      </a>
    </div>
  </div>
  <div
    class="contact-content"
    [ngStyle]="{
      'background-image': 'url(' + backgroundImageContact + ')',
      'background-repeat': 'repeat',
      'background-position': 'center top'
    }"
  >
    <h2 class="contact-title">{{ contactTitle }}</h2>

    <div class="contact-info row">
      <div
        class="footer-column col-md-4 d-flex justify-content-start flex-column"
      >
        <h3 class="brand-name">{{ brandName }}</h3>
      </div>

      <div
        class="footer-column col-md-4 d-flex justify-content-start flex-column"
      >
        <div class="text-block">
          <h4 class="column-label">{{ addressLabel }}</h4>
          <p class="column-value">{{ address }}</p>
        </div>
      </div>

      <div
        class="footer-column col-md-4 d-flex justify-content-start flex-column"
      >
        <div class="text-block">
          <h4 class="column-label">{{ contactLabel }}</h4>
          <p class="column-value">
            <a [href]="'mailto:' + email" class="contact-link">{{ email }}</a>
          </p>
          <p class="column-value">
            <a [href]="'tel:' + phone" class="contact-link">{{ phone }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
