.banner-container {
  width: 100%;
  height: 100vh;
  // overflow: hidden;
  
  .banner-image {
    width: 100%;  
    // height: 100%;
    // display: block;
    // object-fit: cover;
    
    // Optional: Set a max-height if you want to limit the banner height
    // @media (min-width: 769px) {
    //   max-height: 600px;
    // }
    
    @media (max-width: 768px) {
      max-height: 400px;
    }
  }
}
