@use "bootstrap" as *;
@import 'assets/fonts/svn_gotham/_fonts.scss';

html {
  font-size: 16px;
}

:root {
    --primary-color: #0d2b1d;
    --primary-text: #f4ebd0;
}

body {
    margin: 0;
    font-family: 'SVN-Gotham', 'Playfair Display', serif;
}
