<section 
  class="about-section" 
  [style.background-image]="backgroundImage ? 'url(' + backgroundImage + ')' : 'none'"
>
  <div class="container-fluid h-100">
    <div class="row h-100 g-0" [class.flex-row-reverse]="imagePosition === 'right'">
      <!-- Image Column -->
      <div class="col-12 col-lg-5 image-column">
        <div class="image-wrapper">
          <div class="image-frame">
            <img 
              [src]="leftImage" 
              [alt]="mainTitle"
              class="about-image"
            />
          </div>
        </div>
      </div>

      <!-- Content Column -->
      <div class="col-12 col-lg-7 content-column">
        <div class="content-wrapper">
          <h3 class="top-title">{{ topTitle }}</h3>
          <h1 class="main-title">{{ mainTitle }}</h1>
          <p class="description">{{ description }}</p>
          <p class="description" *ngIf="description2">{{ description2 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>