// src/assets/fonts/svn_gotham/_fonts.scss

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-XLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-XLight-Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Book.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Book-Italic.otf') format('opentype');
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Black-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Ultra.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham-Ultra-Italic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
}