// src/assets/fonts/svn_gotham/_fonts.scss

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Thin%20Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20XLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20XLight%20Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Light%20Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Book.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Book%20Italic.otf') format('opentype');
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Bold%20Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Black%20Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Ultra.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/assets/fonts/svn_gotham/SVN-Gotham%20Ultra%20Italic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
}